package    #WorkSpace#.controller;

import org.springframework.stereotype.Controller;
import org.springframework.ui.Model;
import org.springframework.web.bind.annotation.RequestMapping; 

@SuppressWarnings("SpringJavaAutowiringInspection")
@Controller
 public class HomeController {



    #ModelContent#




}