package #WorkSpace#.biz;

import #WorkSpace#.models.#TableClass#Model;

import java.util.List;

public interface #TableClass#Biz {

    #PrimaryKeyType# add(#TableClass#Model item);

    #TableClass#Model update(#TableClass#Model item);

    #TableClass#Model getModelById(#PrimaryKeyType# id);

    #BlobContentBiz#

    List<#TableClass#Model> getAllList();

    List<#TableClass#Model> getPageList(int pageIndex, int pageSize);

    int getCount();
}
